name: futuro_avista_app
description: Experiência AR mobile para simular carreiras do Futuro à Vista.
publish_to: 'none'
version: 0.1.0+1
environment:
  sdk: '>=3.2.0 <4.0.0'
  flutter: 
    sdk: flutter
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  google_fonts: ^6.1.0
  ar_flutter_plugin: ^0.7.3
  provider: ^6.0.5
  vector_math: ^2.1.4
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1
flutter:
  uses-material-design: true
  assets:
    - assets/images/
